.ad-slider .swiper {
  aspect-ratio: 16/9;
}

.ad-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
}

.ad-slider .swiper-slide img {
  aspect-ratio: 16/9;
  width: 600px;
}

.ad-slider .swiper-3d .swiper-slide-shadow {
  background: none !important;
}

.ad_90_728 {
  width: 728px;
  height: 90px;
}

:root{
 --size-3: 300px;
}

@media only screen and (max-width: 600px) {
  .ad_90_728 {
    width: var(--size-3);
    height: 50px;
  }
}