/* LetterCard.css */

.custom-card:hover .LetterCard__title {
  color: red;
}

.letterCard_container{
  overflow: hidden;
}

.custom-card:hover .LetterCard__image {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.custom-card {
  transition: transform 0.3s ease-in-out;
}

.LetterCard__image {
  aspect-ratio: 210 / 297;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.LetterCard__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.LetterCard__date {
  color: #6c757d;
}

a {
  text-decoration: none;
}
