* {
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  width: 50px;
  height: 100vh;
  background-color: #2a363b;
  transition: width 0.3s ease;
  border-right: 1px #4d606e solid;
  padding-top: 15px;
}
.admin__position {
  /* Apply transition only on larger devices */
  @media (min-width: 768px) {
    transition: margin 0.3s ease;
  }
}

@media (min-width: 768px) {
  .content_open {
    margin-left: 250px;
  }

  .content_close {
    margin-left: 50px;
  }
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position:hover {
  background-color: #3f5159;
  border-right: 5px #e84a5f solid;
}

.sidebar svg {
  color: #ffffff;
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: #c9c9c9;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .accordion .accordion-header:hover {
  background-color: #3f5159 !important;
  border-right: 5px #e84a5f solid !important;
}

.accordion-header .acc-heading span {
  width: 0 !important;
  height: 0 !important;
  padding: 0 15px !important;
  transition: width 0.3s ease !important;
  color: #c9c9c9 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: none;
}

.accordion-body .acc-body span {
  width: 0 !important;
  height: 0 !important;
  padding: 0 15px !important;
  transition: width 0.3s ease !important;
  color: #c9c9c9 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: none;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar--open .accordion-header .acc-heading {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: auto !important;
}

.sidebar--open .accordion-header .acc-heading span {
  display: block !important;
  flex-direction: row !important;
  width: 100% !important;
  height: auto !important;
}

.sidebar--open .accordion-body .acc-body {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: auto !important;
}

.sidebar--open .accordion-body .acc-body span {
  display: block !important;
  flex-direction: row !important;
  width: 100% !important;
  height: auto !important;
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden !important;

  width: 100%;
  padding-left: 12px !important;
  font-size: 1rem;
  color: #c9c9c9 !important;
  text-align: left;
  background-color: #2a363b !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: none !important;
}

.accordion {
  overflow: hidden !important;
  --bs-accordion-color: #c9c9c9 !important;
  --bs-accordion-bg: #2a363b !important;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #c9c9c9 !important;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23212529"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23ffffff"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  ) !important;
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #c9c9c9 !important;
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}

@media screen and (max-width: 600px) {
  .sidebar__position {
    position: absolute;
    z-index: 1;
  }
}

.admin__position {
  margin-right: 20px;
}

@media screen and (max-width: 413px) {
  .admin__position {
    margin-left: 45px;
  }
}

@media screen and (max-width: 370px) {
  .admin__position {
    margin-left: 35px;
  }
}

@media screen and (max-width: 500px) {
  .admin__position {
    margin-left: 40px;
  }
}
