.position-Nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.position-Nav-nosticky {
position: relative;
width: 100%;
  top: 0;
  z-index: 999;
}

.navbar ul li a {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 900;
  font-style: normal;
  font-size: 17px !important;
}

/* .nav-details .nav-link {
font-size: 16px !important;
font-weight: 900;
} */

 .navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: space-around !important;
}

.nav-details .dropdown:hover .dropdown-menu {
  display: block;
}

li {
  list-style-type: none;
}

.navbar ul li a {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900;
  font-style: normal;
  font-size: 1.125rem !important;
}


.nav-details .nav-home_btn {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900;
  font-style: normal;
  font-size: 1.125rem !important;
}

.nav-details .dropdown-toggle {
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.nav-details .dropdown:hover {
  background-color: rgb(255, 255, 255);
}

.nav-details .nav-item .nav-link:hover {
  background-color: #ff7275;
  color: white !important;
}

.nav-details .dropdown:hover .dropdown-toggle {
  background-color: #ff7275;
  color: white !important;
}

.nav-details .dropdown-menu a {
  padding: 10px 15px !important;
}

.nav-details .dropdown-menu a:not(:last-child) {
  border-bottom: 2px solid rgb(241, 241, 241) !important;
}

.nav-details .dropdown-menu a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #bbbbbc !important;
}

.nav-details .dropdown-menu {
  border: none !important;

}

.nav-details .nav-item .active-nav {
  background-color: #ff7275;
  color: white !important;
}

.nav-details .dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-max-width: 18rem !important;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0 !important;
  --bs-dropdown-spacer: 0.125rem;

  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: rgb(255, 255, 255);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: none !important;
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: none !important;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: rgb(0, 0, 0) !important;
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}
