.footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.footer p {
  font-size: smaller;
}

.footer {
  background-color: #eaeaea;
  color: rgb(0, 0, 0);
}

.social-icons {
  display: flex;
  flex-direction: row;
}

/* Adjust styles as needed */
.social-icons i {
  margin-right: 10px; /* Add spacing between icons */
  font-size: 17px; /* Adjust the icon size */
  border-radius: 100%;
  padding: 5px;
}

/* .social-icons i:hover {
color:rgb(158, 155, 155);
  } */

.social-icons i:hover {
  transform: scale(1.1);
}

.social-icons .fa-facebook:hover {
  color: #3b5998;
}

.social-icons .fa-twitter:hover {
  color: #1da1f2;
}

.social-icons .fa-instagram:hover {
  color: #962fbf;
}

.social-icons .fa-linkedin:hover {
  color: #0077b5;
}

.social-icons .fa-youtube:hover {
  color: #ff0000;
}

.social-icons .fa-rss:hover {
  color: #f26522;
}

/* .footer p {
  font-size: 10px;

} */

.footer a {
  color: inherit;
}

.footer-detail {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
